/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";

@import "~intro.js/minified/introjs.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.not-found{
  margin-top: 30px;
  font-size: 20px;
  color: rgba(74,74,74,0.98);
  text-align: center;
}

.pointer{
  cursor: pointer;
}

.size25{
  font-size: 25px !important;
}

.mat-form-field{
  width: 100%;
}

.mat-dialog-container{
  padding: 40px !important;
}

.red{
  color: red;
}

.green{
  color: green;
}

.link{
  text-decoration: underline;
  cursor: pointer;
}

.line{
  border-bottom: 1px solid #dadada;
  padding-top: 10px;
}

.grey{
  color: grey;
}

.main-panel>.content{
  margin-top: 30px !important;
}

app-header{
  width: 100%;
}

.ng-sidebar--left {
  bottom: auto !important;
  left: auto !important;
  top: auto !important;
}

.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
  background: linear-gradient(60deg, #82c1b8, #308163);
}

.ng-sidebar {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}

.main-panel > .content {
  margin-top: 30px;
  background-color: transparent !important;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 3px #1e1d16;
  }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    -moz-box-shadow: 0 0 3px #1e1d16;
  }
}

@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px rgba(38, 40, 32, 0);
  }
  100% {
    box-shadow: 0 0 3px #1e1d16;
  }
}

.blink-button {
  -webkit-animation: glowing 700ms infinite;
  -moz-animation: glowing 700ms infinite;
  -o-animation: glowing 700ms infinite;
  animation: glowing 700ms infinite;
}

.mat-raised-button.mat-accent{
  background-color: #72ceaf;
}

.full-width {
  width: 100% !important;
}

.gap10 {
  height: 10px !important;
}

.gap20 {
  height: 20px !important;
}


.show-hide-search {
  margin-top: 20px !important;
}


.founded-center {
  text-align: center;
  margin-top: 10px;
}

.ready-date {
  border-bottom: 1px dashed #3879d6;
  color: #3879d6;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-left{
  text-align: left !important;
}


.loader {
  width: 100px;
  height: 16px;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 3%;
  margin: 0 auto;
}
.loader:before , .loader:after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 32px 0 #fff;
  left: 0;
  top: 0;
  animation: ballMoveX 1s linear infinite;
}
.loader:after {
  box-shadow: none;
  transform-origin: 40px 0;
  transform: rotate(-153deg);
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% , 10%{ transform: rotate(-153deg); }
  90%, 100% { transform: rotate(0deg); }
}
@keyframes ballMoveX {
  0% , 10%{  transform: translateX(0) }
  90%, 100% { transform: translateX(32px) }
}
