.pointer{
  cursor: pointer;
}

.all-category-title{
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 85%;
}

.category-title{
  font-size: 16px;
  display: inline-block;
  width: 70%;
}

.edit-category-icon-area{
  font-size: 13px;
  display: inline-block;
  width: 15%;
  text-align: left;
}

.edit-category-icon{
  color: #dadada;
}

.nav-title{
  width: 85%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

#categories{
  width: 100%;
  overflow-x: hidden;
}

span.add-icon-area{
  width: 15%;
  display: inline-block;
  text-align: left;
}

.add-icon{
  cursor: pointer;
  vertical-align: middle;
  font-size: 25px;
}
